* {
  box-sizing: border-box;
}

html {
  margin: 0;
  width: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: #1E0555;
  width: 100%;
}

body, .quote-input {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  display: flex;
  /* font-family: 'Lobster', cursive; */
  justify-content: space-between;
  align-items: center; 
  background-color: #b81e53;
  height: 60px;
  width: 100%;
}

.login:hover {
  color: #ffd92b;
  background-color: #c60b4b;
  border-color: black;
}

.logo-img
{
  height: 50px;
  width: 210px; 
}

.timer
{
  font-size: 4rem;
  color: #b81e53;
  font-weight: bold;
  padding: 0 50%;
  width: 100%;
  margin-top: 60px;
  height: fit-content;
}

.container {
  background-color: #f2b347;
  padding: 1rem;
  border-radius: .5rem;
  width: 700px;
  max-width: 90%;
  margin-top: 70px;
}

.quote-display {
  margin-bottom: 1rem;
  margin-left: calc(1rem + 2px);
  margin-right: calc(1rem + 2px);
}

.quote-input {
  background-color: transparent;
  border: 2px solid #A1922E;
  outline: none;
  width: 100%;
  height: 8rem;
  margin: auto;
  resize: none;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .5rem;
}

.quote-input:focus {
  border-color: black;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
  text-decoration: underline;
}