body{
    background-color: #b81e53;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.login-box{
    width: 360px;
    height: 270px;
    margin: auto;
    background-color: #cfac0f;
    border-radius: 3px;
}
h1{
    text-align: center;
    padding-top: 15px;
}
h4{
    text-align: center;
}

form{
    width: 300px;
    margin-left: 20px;

}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid  #b81e53 ;
    border-radius: 6px;
}

input[type="button" ]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #d83a71;
    color: #cfac0f;
    font-size: 17px;
}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 16px;
}
